.column1 {
    flex: 60%;
    padding: 20px;
}

.column2 {
    flex: 40%;
    padding: 20px;
}

.row {
    display: flex;
}

table {
    width: 100%;
}

.mat-column-name {
    font-size: 20px;
}

.mat-column-delete {
    width: 70px;
    text-align: right;
}

.addCategoryHeader {
    font-size: 25px;
}

.addCategoryForm {
    font-size: 20px;
}

.categoryHeader {
    font-size: 35px;
    margin-left: 20px;
    margin-top: 20px;
}